.acount-edit-container

  .acount-edit-header
    .acount-edit-header__title
      .acount-edit-header__title--logo
        ロゴ
      .acount-edit-header__title--name
        TI-ME

  .acount-edit-content
    .acount-edit-content__inner
      .acount-edit-box
        .acount-edit-box__title
          アカウント編集
          .acount-edit-box__title--border

        .acount-edit-box__form
          = form_for(current_user) do |f|
            .form-field
              = f.label :text, "ニックネーム", class: "label"
              %br/
              = f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "text-field"
              = f.label :text, "メールアドレス", class: "label"
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", class: "text-field"
              = f.label :text, "アイコン登録", class: "label"
              %br/
              = f.file_field :avatar
              - if current_user.persisted? && current_user.avatar?
                = image_tag(current_user.avatar.to_s, class: "img", alt: "ユーザーアバター")
                = f.label :text, "画像を削除", class: "label"
                = f.check_box :remove_avatar
              - else
                = image_tag("人物アイコン.png", class: "img", size: "100x100", alt: "アイコン")
                = f.hidden_field :avatar_cache
              = f.label :text, "プロフィール編集", class: "label"
              %br/
              = f.text_area :profile, class: "text-field", id: "profile"
            .form-field__button
              = f.submit "更新", class: "submit"

      .acount-edit-message
        .acount-edit-message__text
          ログアウトはこちら。
          %a.acount-edit-message__registration-link
            = link_to "トップページに戻る", root_path

  .acount-edit-footer
    .acount-edit-footer__text
      著作権：俺